{
	"nom": "{{ config.nom }}",
	"prenom": "{{ config.prenom }}",
	"promo": "{{ config.promo }}",
	"hobbies": [
		"{{ config.secret }}",
		{% for var in config.hobbies %}
			"{{ var }}"

			{% if not loop.last %}
				,
			{% endif %}

		{% endfor %}
	]
}
