server {
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;
	root {{ nginx.html_path }};

	index index.html index.htm;
	server_name localhost;
	location / {
		try_files $uri $uri/ =404;
	}
}
